<div th:fragment="header">
<header class="navbar">
  <section class="navbar-section" style="height: 50px;" >
    <a href="/site" class="btn btn-link"><span class="big">Home</span></a>
    <a href="/site/restaurantlist" class="btn btn-link"><span class="big">List</span></a>
    <a href="/site/about" class="btn btn-link"><span class="big">About</span></a>
  </section>
  <section class="navbar-section" style="height: 50px;">
    <div sec:authorize="isAuthenticated()" class="input-group input-inline" >
    <form th:action="@{/logout}" method="post">
	<input class="btn btn-primary" type="submit" value="Sign Out"/>
	</form> 
    </div>
  </section>
</header>
<hr>
</div>