<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../css/spectre.css">
        <link rel="stylesheet" href="../css/style.css"> 
    </head>
    <body>
    	<div lang="en" th:replace="fragments/header :: header"> </div>
    	
    	<div class="content">
    	
        <div th:if="${param.error}">
            <b style="color: red">Invalid username and password.</b>
        </div>
        
        <div th:if="${param.logout}">
            <i>Logged out.</i>
        </div>
        
        <form th:action="@{/login}" method="post">
        
            <label>User Name</label><br>
            <input type="text" name="username" class="form-input"/> 
            
            <label>Password</label><br>
            <input type="password" name="password" class="form-input"/>
            <div><input type="submit" value="Sign In" class="btn"/></div>
            
        </form>
        
        </div>
        
        <div lang="en" th:replace="fragments/footer :: footer"> </div>
        
    </body>
    
</html>