<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<head>
<meta charset="ISO-8859-1">
<title>Restaurant</title>
<link rel="stylesheet" href="../css/spectre.css">
<link rel="stylesheet" href="../css/style.css"> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<link rel='stylesheet' type='text/css' href='../sdk/map.css'/>
<script src='../sdk/tomtom.min.js'></script>
        
</head>

<body>

   	<div lang="en" th:replace="fragments/header :: header"></div>
   	
   	<div class="content">
   	
        <!-- Display the stars -->
        <div class="stars" th:utext="${stars}"></div>
        
		<h1 id="name" th:text="${restaurant.name}">Name</h1>
		<br>
		
		<h4>Description</h4>
		<p th:text="${restaurant.description}"></p>
		
		<h4>Selection</h4>
		<p th:utext="${starsSelection}"></p>
		
		<h4>Quality</h4>
		<p th:utext="${starsQuality}"></p>
		
		<h4>Price</h4>
		<p th:text="${restaurant.price + ' ' + 'euros'}"></p>
		
		<h4>Extra features</h4>
		<p th:text="${restaurant.extraFeatures}"></p>
		
		<span style="display: none" id="latitude" th:text="${restaurant.latitude}"></span>
		
		<span style="display: none" id="longitude" th:text="${restaurant.longitude}"></span>
		
		<div id="map" style="height: 500px; width: 100%;"></div>
		
		<script type="text/javascript">
		
		var lat = document.getElementById('latitude').innerText;
		var longi = document.getElementById('longitude').innerText;

		 var restaurant = [lat, longi];
		 
		 var map = tomtom.L.map('map', {

	            key: 'YFm7C5AZ3UAZhvopPdFsmkxCFQTHQZwY',

	            basePath: '../sdk/',
	            
	            center: restaurant,
	            
	            zoom: 15

	        });
			 var marker = tomtom.L.marker(restaurant).addTo(map);
		 
		</script>
		
		
		
		
    	</div> 
    	
	<div lang="en" th:replace="fragments/footer :: footer"> </div>

</body>

</html>